body {
    background-image: linear-gradient(to right, rgb(241, 98, 100), rgb(173, 54, 144));
    padding-top: 170px;
    display: flex;
    justify-items: center;
    height: 100vh;
}

header {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    width: 85vw;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

header i {
    font-size: 80px;
    color: white;
}

header img {
    height: 90px;
    filter: brightness(8);
}

#following-list {
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: 10px solid #54173e;
}

#follow-detail {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 70px;
    transition: opacity 0.25s;
    flex-shrink: 0;
}

#follow-detail .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#follow-detail h1 {
    font-size: 48px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Fredoka One', cursive;
    margin: 0;
    letter-spacing: 2px;
    display: inline-table;
}

#follow-detail .post-count {
    margin-top: 90px;
}

#follow-detail .dark {
    color: rgba(0, 0, 0, 0.7);
}

#follow-detail .large {
    font-size: 280px;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1;
}

.gallery {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    transform: rotate(-3deg);
}

.gallery img {
    max-width: 240px;
    height: 240px;
    border: 10px solid white;
    
}

.follow {
    width: 100vw;
    height: 160px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.follow:hover {
    background-color: rgba(0, 0, 0, 0.03)
}

.follow .names {
    display: flex;
    flex-direction: column;
}

.follow .names h4 {
    font-size: 40px;
    font-weight: 100;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 43vw;
}

.follow .names h4:nth-child(2) {
    font-size: 24px;
}

.follow img {
    border-radius: 50%;
    border: 7px solid #5a3191;
    height: 100px;
    margin-left: 10vw;
    margin-right: 8vw;
}

.follow .decision {
    margin-left: auto;
    margin-right: 10vw;
}

.follow .decision i {
    font-size: 40px;
    color: white;
    margin-right: 0px;
    padding: 10px;
    background-color: #f36e43;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#overlay {
    border: 4px solid rgba(0, 0, 0, 0.1);
    display: none;
    width: 80vw;
    font-size: 35px;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    flex-direction: column;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

#overlay div {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#overlay input {
    width: 250px;
    height: 80px;
    background-color: #ff6230;
    font-weight: 100;
    color: white;
    border-radius: 15px;
    font-size: 32px;
    border: none;
}

#overlay input:first-child {
    margin-right: 20px;
    background-color: #34131ede;
}

